absl-py==1.4.0
access==1.1.8
affine==2.4.0
aiohttp==3.8.5
aiolimiter==1.1.0
aiosignal==1.3.1
alabaster==0.7.12
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.14.2
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==22.2.0
autopep8==1.6.0
aws-requests-auth==0.4.3
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.0
binaryornot==0.4.4
black==22.6.0
bleach==4.1.0
blinker==1.6.2
boto3==1.26.100
botocore==1.29.100
Bottleneck==1.3.5
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.0
Cartopy==0.21.1
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorama==0.4.6
comm==0.1.2
contextily==1.3.0
contourpy==1.0.5
cookiecutter==1.7.3
cryptography==39.0.1
cvxopt==1.3.0
cvxpy==1.3.1
cycler==0.11.0
cykhash==2.0.1
Cython==0.29.34
dash==0.19.0
dash-core-components==0.14.0
dash-html-components==2.0.0
dash-renderer==0.11.1
dask==2023.4.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
dill==0.3.6
docopt==0.6.2
docstring-to-markdown==0.11
docutils==0.18.1
ecos==2.0.12
entrypoints==0.4
esda==2.4.3
exceptiongroup==1.1.3
executing==1.2.0
fancyimpute==0.7.0
fastjsonschema==2.16.2
Fiona==1.8.22
flake8==6.0.0
Flask==2.3.3
Flask-Compress==1.13
Flask-Cors==3.0.10
flatbuffers==23.3.3
flit_core==3.8.0
fonttools==4.25.0
frozenlist==1.4.0
fsspec==2023.4.0
gast==0.4.0
geographiclib==2.0
geopandas==0.12.2
geoplot==0.5.1
geopy==2.3.0
giddy==2.3.4
google-auth==2.17.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.53.0
h11==0.14.0
h5py==3.8.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
inequality==1.0.0
inflection==0.5.1
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.19.2
ipython==8.14.0
ipython-genutils==0.2.0
isort==5.9.3
itsdangerous==2.1.2
jaraco.classes==3.2.1
jax==0.4.8
jdcal==1.4.1
jedi==0.19.0
jeepney==0.7.1
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsonlines==1.2.0
jsonpickle==3.0.2
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter-server==1.23.4
jupyterlab-pygments==0.1.2
keras==2.12.0
keyring==23.13.1
kiwisolver==1.4.4
knnimpute==0.1.0
lazy-object-proxy==1.6.0
libclang==16.0.0
libpysal==4.7.0
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.2
mapclassify==2.5.0
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mercantile==1.2.1
mgwr==2.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.0.4
momepy==0.5.4
more-itertools==8.12.0
mpmath==1.3.0
multidict==6.0.4
munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic==1.0.0
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nose==1.3.7
notebook==6.5.4
notebook_shim==0.2.3
notion-client==2.0.0
notion-graph==0.2.6
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
numpydoc==1.5.0
oauthlib==3.2.2
opt-einsum==3.3.0
osmnx==1.5.1
osqp==0.6.2.post8
OWSLib==0.28.1
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathspec==0.10.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.0.1
pipreqs==0.4.13
platformdirs==3.2.0
plotly==5.13.1
plotly-express==0.4.1
pluggy==1.0.0
ply==3.11
pointpats==2.3.0
poyo==0.5.0
prometheus-client==0.17.0
prompt-toolkit==3.0.39
protobuf==4.22.1
psutil==5.9.0
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
PyCRS==1.0.2
pydocstyle==6.3.0
pyflakes==3.0.1
pygeos==0.14
Pygments==2.11.2
pylint==2.16.2
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproj==3.4.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyrobuf==0.9.3
pyrosm==0.6.1
pyrsistent==0.19.3
pysal==23.1
pyshp==2.3.1
PySocks==1.7.1
pysolar==0.10
pytest==7.2.2
python-dateutil==2.8.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-rapidjson==1.10
python-slugify==5.0.2
pytoolconfig==1.2.5
pytz==2022.7
pyvis==0.3.1
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==3.0.2
qdldl==0.1.5.post3
qstylizer==0.2.2
QtAwesome==1.2.2
qtconsole==5.4.0
QtPy==2.2.0
quantecon==0.6.0
quilt3==5.2.0
rasterio==1.3.6
rasterstats==0.18.0
requests==2.28.2
requests-futures==1.0.0
requests-oauthlib==1.3.1
rope==1.7.0
rsa==4.9
Rtree==1.0.1
rvlib==0.0.6
s3transfer==0.6.0
scikit-learn==1.2.2
scipy==1.10.1
scs==3.2.2
seaborn==0.12.2
SecretStorage==3.3.1
segregation==2.3.1
Send2Trash==1.8.2
setuptools==65.6.3
shapely==2.0.1
simplejson==3.18.4
sip==6.6.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.4
spaghetti==1.7.2
spglm==1.0.8
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spint==1.0.7
splot==1.1.5.post1
spopt==0.5.0
spreg==1.3.0
spvcm==0.3.0
spyder==5.4.2
spyder-kernels==2.4.2
stack-data==0.6.2
statsmodels==0.13.5
suntimes==1.1.2
sympy==1.11.1
t4gpd==0.6.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==3.1.0
three-merge==0.1.1
tinycss2==1.2.1
tobler==0.9.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
typing_extensions==4.4.0
tzlocal==5.0.1
ujson==5.4.0
Unidecode==1.2.0
urllib3==1.26.15
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.7
whatthepatch==1.0.2
wheel==0.38.4
wrapt==1.14.1
wurlitzer==3.0.2
xyzservices==2023.2.0
yapf==0.31.0
yarg==0.1.9
yarl==1.9.2
zipp==3.11.0
